<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/admin/addcategory.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/public/stylesheets/admin/addcategory.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <title>Edit Category - Admin Dashboard</title>
  </head>

  <body>
    <header>
      <h2>Admin Dashboard</h2>
      <form action="/admin/adminlogout" method="post">
        <button class="logout">LOGOUT</button>
      </form>
    </header>
    <section class="row">
      <article class="col-md-3 article-left">
        <img src="/img/admin/adminlogo.png" />
        <h2 class="text-center title">Admin</h2>
        <ul class="fa-ul">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li>
            <a href="#">User</a>
          </li>
          <li>
            <a href="#">Product</a>
          </li>
          <li>
            <a href="#">Category</a>
          </li>
          <li>
            <a href="#">Order and Payment</a>
          </li>
          <li>
            <a href="#">Sales Report</a>
          </li>
          <li>
            <a href="#">Banners</a>
          </li>
          <li>
            <a href="#">Coupons</a>
          </li>
        </ul>
      </article>

      <article class="col-md-9 article-right">
        <% if(typeof message !== 'undefined') {%>
        <div class="Errormsg">
          <h3><%= message %></h3>
        </div>
        <% } %>
        <div class="title">
          <h2>Admin - Add Category</h2>
        </div>
        <% if (locals.error) { %>
        <p style="color: blue"><%= locals.error %></p>
        <% } %>
        <form action="/admin/addcategory" method="post">
          <div class="edit-form">
            <div class="form-group">
              <label for="category">Category:</label>
              <input
                type="text"
                id="categoryName"
                placeholder="Enter category name"
                name="categoryName"
              />
            </div>
            <button class="save-btn" type="submit">ADD</button>
          </div>
        </form>
      </article>
    </section>

    <!--JS-->
    <script>
      function handleSave() {
        // Implement your save logic here
        alert("New Category added!");
      }
    </script>
  </body>
</html>
