<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/stylesheets/admin/userManage.css" />
    <link rel="stylesheet" href="/stylesheets/admin/paginationStyle.css" />
    <link rel="stylesheet" href="/stylesheets/admin/salesreport.css" />

    <title>Admin panel</title>

    <style>
      .form-control-primary {
        margin: 10px;
        opacity: 0.2;
        border-radius: 2px;
      }

      .navbar {
        background-color: black;
      }

      .nav-item:hover {
        color: gray;
      }

      .sidebar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 0;
        z-index: 100;
        padding: 70px 0 0 10px;
        border-right: 1px solid #d3d3d3;
      }

      .left-sidebar {
        position: sticky;
        top: 0;
        height: calc(100vh - 70px);
      }

      .sidebar-nav li .nav-link {
        color: #333;
        font-weight: 500;
      }

      main {
        padding-top: 90px;
      }
      main .card {
        margin-bottom: 20px;
      }
      .navbar-brand {
        margin: 10px;
      }

      .category-actions {
        display: flex;
      }
      .category-actions button {
        margin: 10px;
      }

      table {
        width: 100%;
        border-collapse: collapse;

        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
      th,
      td {
        padding: 8px;
        text-align: left;
      }
      thead {
        background-color: rgb(44, 42, 42);
        color: white;
      }
      tbody {
        background-color: white;
      }

      /* Styling for the search bar */
      .search-container {
        display: inline-block;
        position: relative;
        border: 1px solid black;
        border-radius: 5px;
        width: 200px;
      }

      #search-bar {
        padding: 8px;
        border: none;
        border-radius: 5px;
        margin-right: 5px;
        width: 120px; /* Adjust width as needed */
      }

      #search-bar:focus {
        outline: none;
        border: 2px solid #007bff; /* Change color as needed */
      }

      .searchbtn[type="submit"] {
        background-color: white; /* Change color as needed */
        color: #101112;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 8px 12px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto; /* Center the button vertically */
      }

      .searchbtn[type="submit"] i {
        vertical-align: middle; /* Align the icon vertically */
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Amoli</a>
      <input
        type="text"
        class="form-control form-control-primary w-100"
        placeholder="Search..."
      />
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/admin/adminlogout">Logout</a>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2 bg-light d-none d-md-block sidebar">
          <div class="left-sidebar">
            <ul class="nav flex-column sidebar-nav">
              <li class="nav-item">
                <a class="nav-link active" href="/admin/dashboard">
                  <svg
                    class="bi bi-chevron-right"
                    width="16"
                    height="16"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/usermanage">
                  <svg
                    class="bi bi-chevron-right"
                    width="16"
                    height="16"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  User
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/category">
                  <svg
                    class="bi bi-chevron-right"
                    width="16"
                    height="16"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  Category
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/admin/productmanage">
                  <svg
                    class="bi bi-chevron-right"
                    width="16"
                    height="16"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/order-list">
                  <svg
                    class="bi bi-chevron-right"
                    width="16"
                    height="16"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/sales-report">
                  <svg
                    class="bi bi-chevron-right"
                    width="16"
                    height="16"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/manage-coupon">
                  <svg
                    class="bi bi-chevron-right"
                    width="16"
                    height="16"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  Coupons
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg
                    class="bi bi-chevron-right"
                    width="16"
                    height="16"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  Banners
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
