<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/admin/productManage.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/stylesheets/admin/paginationStyle.css">

    <style>
      .productManage thead tr th{
        padding-left: 30px;
        padding-right: 30px;
        
      }
      .productManage tbody tr td{
        padding-left: 30px;
        padding-right: 30px;
       
      }
    </style>

    <!-- DataTable HEADER-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">

  </head>
  <body>
    <main>
      <header class="title">
        <h2>Admin Dashboard</h2>
        <form action="/admin/adminlogout" method="post">
          <button class="logout">LOGOUT</button>
        </form>
      </header>
      <section class="row">
        <article class="col-md-2 col-sm-4 article-left">
          <img src="/img/admin/adminlogo.png" />
          <h2 class="text-center title">Admin</h2>

          <ul class="fa-ul">
            <li>
              <a href="/admin/dashboard">Dashboard</a>
            </li>
            <li>
              <a href="/admin/usermanage">User</a>
            </li>
            <li>
              <a href="/admin/productmanage">Product</a>
            </li>
            <li>
              <a href="/admin/category">Category</a>
            </li>
            <li>
              <a href="/admin/getorder">Order and Payment</a>
            </li>
            <li>
              <a href="#">Sales Report</a>
            </li>
            <li>
              <a href="#">Banners</a>
            </li>
            <li>
              <a href="#">Coupons</a>
            </li>
          </ul>
        </article>
        <article class="col-md-9 article-right productManage">
          <!-- <h1>Customer Details</h1> -->
          <!-- <hr /> -->
          <div class="addcateg">
            <a href="/admin/addproduct"
              ><button id="addcateg">Add new product</button></a
            >
          </div>
          <!--TABLE HEADER-->
      <table id="example" class="table table-striped" style="width:100%">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>image</th>
                <th>Description</th>
                <th>Sizes Available</th>
                <th>Price</th>
                <th>discount</th>
                <th>Stock</th>
                <th>Actions</th>
                <th>Listbutton</th>
              </tr>
            </thead>
            <tbody>
              <% categories.forEach((items, index) => { %>
              <tr>
                <td>
                  <div class="id"><%= index + 1%></div>
                </td>
                <td><div class="name"><%= items.name %></div></td>
                <td>
                  <div class="category"><%= items.category %></div>
                </td>
                <td>
                  <div class="image-container">
                    <% items.productImage.forEach((image, imageIndex) => { %>
                        <img src="<%= image %>" style="width: 50px; height: 50px" class="image" />
                    <% }); %>
                </div>
        
                </td>
                <td>
                  <div class="description"><%= items.description %></div>
                </td>
                <td>
                  <div class="sizes"><%= items.sizes %></div>
                </td>
                <td>
                  <div class="price"><%= items.price %></div>
                </td>
                <td>
                  <div class="discount"><%= items.discount %></div>
                </td>
                <td>
                  <div class="stock"><%= items.stock %></div>
                </td>
                <td>
                  <form
                    action="/admin/editproduct/<%= items._id %>"
                    method="get"
                  >
                    <button class="btn btn-primary" type="submit">Edit</button>
                  </form>
                </td>

                <td>
                  <form
                    action="/admin/visibility/<%= items._id %>"
                    method="post"
                  >
                    <button
                      type="submit"
                      class="btn btn-danger sListed <%= items.isListed? 'unblocked-user' : 'blocked-user' %>"
                    >
                      <% if (items.isListed) { %> Listed <% } else { %> Not
                      Listed <% } %>
                    </button>
                  </form>
                </td>
              </tr>
              <% }); %>
              <!-- Add more rows as needed -->
            </tbody>
          </table>

          <div class="pagination">
            <ul>
              <% if (currentPage > 1) { %>
                <li><a href="/admin/productmanage/<%= currentPage - 1 %>">Previous</a></li>
              <% } %>
              <% for (let i = 1; i <= totalPages; i++) { %>
                <li <% if (i === currentPage) { %>class="active"<% } %>><a href="/admin/productmanage/<%= i %>"><%= i %></a></li>
              <% } %>
              <% if (currentPage < totalPages) { %>
                <li><a href="/admin/productmanage/<%= currentPage + 1 %>">Next</a></li>
              <% } %>
            </ul>
          </div>
        </article>
        
      </section>
    </main>

    <!-- DATATABLE  SCRIPT-->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.js"></script>  
<script>
   new DataTable('#example');
   
  </script>

    <!--JS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script>
      //block option
      var isBlocked = false;

      function toggleBlock() {
        isBlocked = !isBlocked;
        var button = document.querySelector(".block-btn");

        if (isBlocked) {
          button.textContent = "Blocked";
          button.classList.add("blocked");
        } else {
          button.textContent = "Unblock";
          button.classList.remove("blocked");
        }
      }
      //delete option
      function handleDelete() {
        // Implement your delete logic here
        alert("Item deleted!");
      }
    </script>
  </body>
</html>
