<%- include('header')%>
<style>
  .middle-content {
    margin-top: 100px;
  }
</style>

<!--BANNER SECTION-->
<div id="banner-section">
  <img
    src="/img/home/b3.jpg"
    style="width: 1500px; padding: 20px; height: 800px; border-radius: 30px"
  />
</div>

<!--MIDDLE CONTENT-->
<section class="middle-content">
  <div class="row inner-content">
    <div class="col-lg-6">
      <img
        src="/img/home/b1.jpg"
        style="
          height: 500px;
          width: 400px;
          margin-left: 50px;
          border-radius: 10px;
        "
      />

      <p style="font-size: 30px; margin-left: 50px">
        Elevate Your Elegance: Adorn Yourself with Timeless Necklaces
      </p>
    </div>

    <div class="col-lg-6">
      <img src="/img/home/b4.webp" style="border-radius: 10px" />
    </div>
  </div>
</section>

<%- include('footer') %>
