<%- include('header')%>

<img
  src="/img/user/thankyouNew.avif"
  style="
    width: 400px;
    height: 400px;
    margin-left: 30%;
    margin-top: 5%;
    border-radius: 20px;
  "
/>
<br />
<div class="orders" style="display: flex; justify-content: center">
  <a href="/order-history" style="text-decoration: none; color: #007bff"
    >My Orders</a
  >
</div>

<%- include('footer') %>
