<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/user/signup.css" />

    <!-- <script>
      document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("form");

        form.addEventListener("submit", function (event) {
          const name = document.getElementById("name").value;
          const email = document.getElementById("email").value;
          const password = document.getElementById("password").value;

          // Validate if name is not empty
          if (!name.trim()) {
            alert("Please enter your name.");
            event.preventDefault();
            return;
          }

          // Validate email format
          const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          if (!emailRegex.test(email)) {
            alert("Please enter a valid email address.");
            event.preventDefault();
            return;
          }

          // Validate password format
          const passwordRegex =
            /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;
          if (!passwordRegex.test(password)) {
            alert(
              "Password must contain at least 8 characters, 1 alphabet, 1 number, and 1 special character."
            );
            event.preventDefault();
            return;
          }
        });
      });
    </script> -->
  </head>
  <body>
    <div class="signup-container">
      <h2>
        <b
          >Sign Up <br />
          <small style="color: red"> <%=locals.mes%> </small>
        </b>
      </h2>
      <form action="/signup" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <button href="/verifyemail" type="submit">Sign Up</button>
      </form>
    </div>
  </body>
</html>
