<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/user/updatePassword.css" />

    <!-- SweetAlert2 CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.min.css"
    />
  </head>

  <body>
    <div class="resetpassword-container">
      <h3>UPDATE PASSWORD</h3>
      <form
        action="/update-password"
        method="post"
        onsubmit="return validateForm()"
      >
        <div>
          <label for="password">New password</label>
          <input type="password" id="password" name="password" required />
        </div>

        <div>
          <label for="confirmpassword">Confirm password</label>
          <input
            type="password"
            id="confirmpassword"
            name="confirmpassword"
            required
          />
        </div>

        <div id="errorMessages" style="color: black"></div>
        <!-- Error messages will be displayed here -->

        <div style="margin-top: 15px">
          <button type="submit">Change</button>
        </div>
      </form>
    </div>

    <script>
      async function validateForm() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmpassword").value;
        var errorMessages = document.getElementById("errorMessages");
        errorMessages.innerHTML = "";

        // Password length check
        if (password.length < 8) {
          errorMessages.innerHTML +=
            "Password must be at least 8 characters long.<br>";
        }

        // Password complexity check (at least one digit, one letter, and one special character)
        var passwordRegex = /^(?=.*\d)(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]).{8,}$/;
        if (!passwordRegex.test(password)) {
          errorMessages.innerHTML +=
            "Password must contain at least one digit, one letter, and one special character.<br>";
        }

        // Password match check
        if (password !== confirmPassword) {
          errorMessages.innerHTML += "Passwords do not match.<br>";
        }

        // If there are error messages, prevent form submission
        if (errorMessages.innerHTML !== "") {
          return false;
        }

        // // If validation passes, show SweetAlert
        // await Swal.fire({
        //   icon: "success",
        //   title: "Password changed successfully!",
        //   showConfirmButton: false,
        //   timer: 1500,
        // });

        return true;
      }
    </script>

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.all.min.js"></script>
  </body>
</html>
