<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheets/user/updatePassword.css" />
  </head>
  <body>
    <div class="resetpassword-container">
      <h3>UPDATE PASSWORD</h3>
      <label for="newpassword">New password</label>
      <input type="password" id="password" name="password" required />
      <label for="confirmpassword">Confirm password</label>
      <input type="password" id="password" name="password" required />

      <button>Change</button>
    </div>
  </body>
</html>
