.title{
  color: black;
  font-size: 30px;
    text-align: center;
}

table {
    width: 900px;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  .total-price {
    margin-top: 20px;
  }

  .product-details{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    color: gray;
  }

  .checkout-content {
    max-width: 100%;
    margin: 50px auto; /* Center the checkout-content */
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
    
  }

  .address-details{
    
    width: 800px;
    border-radius: 5px;


  }
  .address-details button{

    margin-top: 40px;
  }

  .address-details,
  .product-list,
  .payment-section
  .coupon-section {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add box shadow */
    margin-bottom: 20px;
    background-color: #fff; /* Add background color */
    border-radius: 5px;
  }

  .product-list {

    width: 600px ;
  }
  .product-list table{
    width: 100%;
  }

  .product-list table tbody{

    height: 150px;
  }

  .coupon-section{

  width: 300px;
  height: 100px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
  }

  .coupon-section input{
    width: 200px
  }

  .coupon-section button{

    width: 60px;
    margin-top: 5px;
    border-radius: 5px;
  }
  .coupon-section label input button{

    margin-left: 10px;
    border-radius: 10px;
  }

  .payment-section{

    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .form-check {

    padding-left: 2.5rem;

  }
  .coupon-input{
    padding-left: 1rem;
   
    display: flex;
    flex-direction: column;
   
  }

  .main-content{
    display: flex;
    align-items: center;
   

  }

  .product-list {
    width: 600px;
    margin-bottom: 19px; /* Add margin at the bottom */
  }
  
  .order-place {
    margin-top: 20px; /* Add margin at the top */
  }
  
  
  /* Additional styling for better separation, you can adjust these values as needed */
  .checkout-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-content {
    margin-top: 20px; /* Add margin at the top of main-content */
  }

 .order-place{
  padding-left: 50px;
  margin-top: 10px;
 }



 
 .product-list-container {
  max-height: 400px; /* Set the maximum height you desire for the scrollable area */
  overflow: auto; /* Hide the scrollbar on the container unless necessary */
}

/* WebKit specific */
.product-list-container::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}


.product-list {
 
  padding-right: 17px; /* Add a little padding to prevent content from being partially hidden by the scrollbar */
}




  