.coupon-card {
    background: linear-gradient(135deg, #eebab0, #eb887f);
    color: #fff;
    text-align: center;
    padding: 15px 30px; /* Reduced padding */
    border-radius: 8px; /* Reduced border-radius */
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1); /* Reduced box shadow */
    position: relative;
    margin-top: 10px;
    width: 250px; /* Reduced width */
    height: 170px;
}

.logo {
    width: 40px; /* Reduced logo size */
    border-radius: 4px; /* Reduced border-radius */
    margin-bottom: 3px; /* Reduced margin */
}

.coupon-card h3 {
    font-size: 18px; /* Reduced font size */
    font-weight: 400;
    line-height: 26px; /* Reduced line height */
}

.coupon-card p {
    font-size: 13px; /* Reduced font size */
}

.circle1, .circle2 {
    width: 30px; /* Reduced size */
    height: 30px; /* Reduced size */
}

#cpnCode, #cpnBtn {
    padding: 4px 8px; /* Reduced padding */
}



.circle1, .circle2 {
    background: #f0fff3;
    width: 40px; /* Reduced size */
    height: 40px; /* Reduced size */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.circle1 {
    left: -20px; /* Reduced position */
}

.circle2 {
    right: -20px; /* Reduced position */
}


.user-coupons{
    display: flex;
    flex-direction: column;
}
