
/*This be the CSS*/



/* Box sizing rules */
* {
    box-sizing: border-box;
  }
  
  /* Remove default padding */
  ul[class],
  ol[class] {
    padding: 0;
  }
  
  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  /* Set core body defaults 
  body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  } */
  
  /* Remove list styles on ul, ol elements with a class attribute */
  ul[class],
  ol[class] {
    list-style: none;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img {
    max-width: 400px;
    display: block;
  }
  
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /*END OF CSS RESET*/
  
  /*font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Josefin Sans', sans-serif;*/
  
  #store-name {
    font-family: "Bacasime Antique", serif;
      text-align: center;
      margin: auto;
      padding-top: 5px;
      padding-bottom: 5px;;
      padding-left: 95px;
     
      font-size: 30px;
  }
  
  #header-info {
    font-family: "Bacasime Antique", serif;
      text-transform: uppercase;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px 0px;
      margin: 0 40px;
  }
  
  #header-info p {
      letter-spacing: 2px;
      margin: 0px 15px;
      font-size: 15px;
  }
  
  #nav-bar {
      background-color: black;
      overflow: hidden;
      width: 100%;
      padding: 8px 0px;
      text-align: center;
      font-family: "Bacasime Antique", serif;
  }
  
  #nav-bar a {
    font-family: "Bacasime Antique", serif;
      overflow: hidden;
      font-size: 18px;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: white;
      padding: 5px 50px;
      border-left: 5px solid white;
  }
  
  #nav-bar a:hover {
      background-color: white;
      color: black;
  }
  
  #three-box-info {
    font-family: "Bacasime Antique", serif;
      display: flex;
      justify-content: center;
  }
  
  #box-one {
      background-color: #A0EBFB;
      width: 200px;
      height: 100px;
      margin: 5px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  #sale {
      width: 50px;
      margin: 0 5px;
  }
  
  #box-two {
      background-color: #A0EBFB;
      width: 200px;
      height: 100px;
      margin: 5px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  #delivery {
      width: 50px;
      margin: 0px 15px;
  }
  
  #box-three {
      background-color: #A0EBFB;
      width: 200px;
      height: 100px;
      margin: 5px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  #box-three p {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 3px;
      padding: 15px 15px;
      border: 5px dashed white;
  }
  
  .logo{
  
    width: 80px;
    height: 80px;
  }
  
  .nav-icons a{
   margin: 10px;
    
  }
  
  #navbarNavDarkDropdown{
    width: 30px;
    height: 20px;
  }

  #my-account-dropdown {
    position: relative;
    display: inline-block;
  }
  
  #account-options {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  #account-options a {
    color: #333;
    padding: 12px;
    text-decoration: none;
    display: block;
  }
  
  #account-options a:hover {
    background-color: #f5f5f5;
  }
  
  
  
  body {
    font-family: "Bacasime Antique", serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
  }


  .small-images-row img{

     margin: 20px;
     width: 50px;
     height: 40px;
  }

  body {
    font-family: "Bacasime Antique", serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    background-color: #f4f4f4;
    margin: 0;
  }
  
  .product-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .images-section {
    width: 20%; /* Adjust as needed */
  }
  
  .images-section img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .small-images-column {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  
  }
  
  .small-images-column img {
    width: 80px;
    height: auto;
    cursor: pointer;
    
  }

  .container img{
    width: 600px;
  }
  

  
  .details-section {
    font-family: "Bacasime Antique", serif;
    width: 30%; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .out-of-stock-message {
    color: red; /* or any other color you prefer for out of stock message */
    font-weight: bold;
    
  }

  /*ANIMATION*/
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
  }
  .inline-photo {
  opacity: 0;
  transform: translateY(4em) rotateZ(-0deg);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),opacity .3s .25s ease-out;
  will-change: transform, opacity;
  }
  .inline-photo.is-visible {
  opacity: 1;
  transform: rotateZ(-0deg);
  }
  .inline-photo2 {
  opacity: 0;
  transform: translateX(-15em) rotateZ(-0deg);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),opacity .3s .25s ease-out;
  will-change: transform, opacity;
  }
  .inline-photo2.is-visible2 {
  opacity: 1;
  transform: rotateZ(-0deg);
  }
  
  /*DEFAULT*/
a{
  text-decoration:none;
  }
  .title{
  font-size:1.5em;
  font-family: "Bacasime Antique", serif;
  }
  .sub-title{
  display:block;
  }
  li{
  list-style:none;
  }
  input,button{
  outline:none;
  }
  .btn1{
  padding:10px 20px;
  border-radius:20px;
  text-align:center;
  color:#fff;
  background:#000;
  width:90%;
  border:0;
  }
  .btn2{
  padding:10px 20px;
  text-align:center;
  color:#fff;
  background:#f79500;
  width:100%;
  border:0;
  }
  .btn3{
  padding:10px 20px;
  text-align:center;
  color:#fff;
  background:#384aeb;
  width:100%;
  border:0;
  }
  .btn4{
  padding:10px 20px;
  text-align:center;
  color:#000;
  border-radius:20px;
  background:#fff;
  width:150px;
  border:0;
  margin:0 20px;
  box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
  }
  label{
  color:gray;
  }
  .checked{
  color:#f79500;
  }
  
  
  .banner{
  width:100%;
  height:150px;
  background-image:url("https://i.ibb.co/vcBQN6m/aboutus-header.webp");
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  display:flex;
  align-items:center;
  justify-content:center;
  }
  
  .banner section,.banner a{
  color:#fff;
  margin:0 10px;
  }
  
/*changes applied*/







/*footer*/
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .footer-links { 
    margin: 0;
    padding: 0;
  }
  
  .footer-links li {
    margin-right: 20px;
    margin-top: 20px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #ffd700; /* Change color on hover, you can use your preferred color */
  }
  
  .social-icons{
    width: 200px;
    height: 50px;
    display: flex;
    margin-top: 20px;
  }
  
  .icon-div{
    margin-right: 20px;
  }

  /* Media query for tablets */
@media only screen and (max-width: 768px) {
    .footer-content {
      flex-direction: column; /* Stack items vertically on smaller screens */
      text-align: center;
    }
  
    .footer-links {
      margin-top: 20px;
    }
  
    .social-icons {
      margin-top: 20px;
    }
  }
  
  /* Media query for mobile devices */
  @media only screen and (max-width: 480px) {
    .footer-links li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .social-icons {
      width: 100%;
      justify-content: center;
    }
  }

/*header-section*/
/* Media query for tablets */
@media only screen and (max-width: 768px) {
    header {
      padding: 10px;
    }
  
    #header-info {
      flex-direction: column;
      align-items: center;
    }
  
    .logo {
      margin-bottom: 10px;
    }
  
    .nav-icons {
      margin-top: 10px;
    }
  
    #nav-bar {
      display: none; /* Hide the navigation bar on smaller screens */
    }
  }
  
  /* Media query for mobile devices */
  @media only screen and (max-width: 480px) {
    header {
      padding: 10px;
    }
  
    #header-info {
      flex-direction: column;
      align-items: center;
    }
  
    .logo {
      margin-bottom: 10px;
    }
  
    .nav-icons {
      margin-top: 10px;
    }
  
    #nav-bar {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    #nav-bar a {
      margin-bottom: 5px;
    }
  
    #search-icon {
      display: none; /* Hide the search icon on smaller screens */
    }
  
    #user-dropdown {
      position: static;
      display: none;
      width: 100%;
    }
  }
   

