/*This be the CSS*/

/* Box sizing rules */
* {
    box-sizing: border-box;
  }
  
  /* Remove default padding */
  ul[class],
  ol[class] {
    padding: 0;
  }
 
  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  /* Set core body defaults 
  body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  } */
  
  /* Remove list styles on ul, ol elements with a class attribute */
  ul[class],
  ol[class] {
    list-style: none;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img {
    max-width: 100%;
    display: block;
  }
  
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /*END OF CSS RESET*/
  
  /*font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Josefin Sans', sans-serif;*/
  
  #store-name {
    font-family: "Bacasime Antique", serif;
      text-align: center;
      margin: auto;
      padding-top: 5px;
      padding-bottom: 5px;;
      padding-left: 95px;
      letter-spacing: 5px;
      font-size: 30px;
  }
  
  #header-info {
    font-family: "Bacasime Antique", serif;
      text-transform: uppercase;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px 0px;
      margin: 0 40px;
  }
  
  #header-info p {
      letter-spacing: 2px;
      margin: 0px 15px;
      font-size: 15px;
  }
  
  #nav-bar {
      background-color: black;
      overflow: hidden;
      width: 100%;
      padding: 8px 0px;
      text-align: center;
      font-family: "Bacasime Antique", serif;
  }
  
  #nav-bar a {
    font-family: "Bacasime Antique", serif;
      overflow: hidden;
      font-size: 18px;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: white;
      padding: 5px 50px;
      border-left: 5px solid white;
  }
  
  #nav-bar a:hover {
      background-color: white;
      color: black;
  }
  
  #three-box-info {
    font-family: "Bacasime Antique", serif;
      display: flex;
      justify-content: center;
  }
  
  #box-one {
      background-color: #A0EBFB;
      width: 200px;
      height: 100px;
      margin: 5px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  #sale {
      width: 50px;
      margin: 0 5px;
  }
  
  #box-two {
      background-color: #A0EBFB;
      width: 200px;
      height: 100px;
      margin: 5px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  #delivery {
      width: 50px;
      margin: 0px 15px;
  }
  
  #box-three {
      background-color: #A0EBFB;
      width: 200px;
      height: 100px;
      margin: 5px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  #box-three p {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 3px;
      padding: 15px 15px;
      border: 5px dashed white;
  }
  
  .logo{
  
    width: 80px;
    height: 80px;
  }
  
  .nav-icons a{
   margin: 10px;
    
  }
  
  #navbarNavDarkDropdown{
    width: 30px;
    height: 20px;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  
  body {
    font-family: "Bacasime Antique", serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);

      background-color: #A0EBFB;
    
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .input-field {
  flex-direction: row;
  column-gap: 10px;
}
.input-field input {
  height: 45px;
  width: 42px;
  border-radius: 13px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid black;
 
}
.input-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
  display: none;
}
.main-content button {
  margin-top: 25px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 9px 0;
  cursor: pointer;
  border-radius: 25px;
  pointer-events: none;
  background: grey;
  transition: all 0.2s ease;
}
form button.active {
  background: #04a843;
  pointer-events: auto;
}
form button:hover {
  background: #04a8439c;
  color: rgb(255, 255, 255);
}

/* #resend-timer {
   display: none;
}  
} */

.title{
  font-family: "Bacasime Antique", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.main-content{

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content button{

   border: 1px solid black;
   border-radius: 5px;
}



  /*footer*/
  footer {
    font-family: "Bacasime Antique", serif;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    margin-top: 600px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .footer-links { 
    margin: 0;
    padding: 0;
  }
  
  .footer-links li {
    margin-right: 20px;
    margin-top: 20px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #ffd700; /* Change color on hover, you can use your preferred color */
  }
  
  .social-icons{
    width: 200px;
    height: 50px;
    display: flex;
    margin-top: 20px;
  }
  
  .icon-div{
    margin-right: 20px;
  }
   
  /* Css from anandhu 
  :where(.container, form, .input-field, header) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container {
    height: 390px;
    width: 390px;
    background: #ffffff28;
    padding: 30px 65px;
    margin-top: 180px;
    margin-left: 560px;
    border-radius: 25px;
    row-gap: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.299);
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(9px);
    
  }
  .container header {
    height: 65px;
    width: 65px;
    background: #04a84363;
    color: #fff;
    font-size: 2.5rem;
    border-radius: 50%;
  }
  .container h4 {
    font-size: 1.25rem;
    color: #e7e7e7;
    font-weight: 500;
  }
  form .input-field {
    flex-direction: row;
    column-gap: 10px;
  }
  .input-field input {
    height: 45px;
    width: 42px;
    border-radius: 13px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: none;
    border: 1px solid #ddd; 
  }
  .input-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .input-field input::-webkit-inner-spin-button,
  .input-field input::-webkit-outer-spin-button {
    display: none;
  }
  form button {
    margin-top: 25px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    padding: 9px 0;
    cursor: pointer;
    border-radius: 25px;
    pointer-events: none;
    background: #04a843;
    transition: all 0.2s ease;
  }
  form button.active {
    background: #04a843;
    pointer-events: auto;
  }
  form button:hover {
    background: #04a8439c;
    color: rgb(255, 255, 255);
  }
  #resendOTP{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.808);
    border: none;
    background-color:rgba(255, 255, 255, 0);
   position: absolute;
   margin-bottom: 15px;
  }
  
  .Errormsg{
    font-size: 11px;
    font-weight: 200;
    top: 10px;
    left: 60px;
    width: 450px;
    position: absolute;
    color: white;
  }
  
  #otp-timer{
    color: rgba(255, 255, 255, 0.808);
  } 
  /* Css from anandhu */