.wallet-main{

    width: 800px;
    height: 500px;
    padding-left: 100px;
    margin-top: 20px;
    margin-left: 100px;
    background-color: none;
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.wallet-balance{
   text-align: center;
   padding-top: 30px;
   display: flex;
   justify-content: center;
    width: 600px;
    height: 100px;
    background-color: rgb(51, 50, 50);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(81, 80, 80, 0.5); 
   border: 1px solid rgb(93, 91, 91);
}

.wallet-balance h4{
    margin-left:10px;
}


.wallet-history {
    width: 650px;
    height: 150px;
    padding: 20px;
    background-color: rgb(245, 246, 247);
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    overflow-y: scroll; /* Enable vertical scrolling */
    height: 300px;
}

.horizontal-cards::-webkit-scrollbar {
    width: 0; /* Set the width of the scrollbar to 0 */
    height: 0; /* Set the height of the scrollbar to 0 */
}


.wallet-history h3{
    text-align: center;
}

.wallet-history ul{
   
    padding-right: 17px;
}
